.postWrapper {
  background-color: black;
  padding: 15px;
  border-bottom: 1px solid #2f3336;
  color: white;
}

.postHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: bold;
  color: white;
}

.userName .verified {
  color: #1da1f2;
  font-size: 12px;
  margin-left: 5px;
}

.userHandle {
  font-size: 14px;
  color: #71767b;
}

.postContent {
  margin-top: 10px;
}

.mention {
  color: #1da1f2;
}

.postText {
  background-color: #16181c;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.postImage {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.postActions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #71767b;
  font-size: 14px;
}

.action {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.action:hover {
  color: #1da1f2;
}

.likeAction.liked {
  color: #e0245e; 
}


.action {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.action:hover {
  color: #1da1f2;
}

.likeAction.liked:hover {
  color: #e0245e; /* Czerwone zostaje */
}