.searchBarWrapper {
    display: flex;
    align-items: center;
    background-color: #2d2d2d; 
    border-radius: 25px;
    padding: 5px 15px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
    width: 80%; 
    margin: 10px auto; 
  }
  
  .searchInput {
    background-color: transparent; 
    color: white; 
    border: none;
    outline: none;
    flex-grow: 1; 
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 25px;
  }
  
  .searchButton {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .searchButton:hover {
    background-color: #0e86b6; 
  }
  
  .searchButton:focus {
    outline: none;
  }  