.appContainer {
  display: flex;
  justify-content: center; /* Wyśrodkowanie całości */
  max-width: 1400px;
  margin: 0 auto; /* Środek strony */
}

.mainLayout {
  display: flex; /* To ustawia sekcje obok siebie */
  width: 100%; /* Zajmuje całą szerokość kontenera */
}

.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* menu góra, user dół */
  width: 20%;
  min-width: 300px;
  height: 100vh;
  border-right: 1px solid #505050;
  position: sticky;
  top: 0;
  padding: 10px;
}

.mainContent {
  width: 40%;
  height: 100vh; /* Ustawiamy wysokość na 100vh, aby miała wysokość okna */
  padding: 20px;
  border-right: 1px solid #505050;
  overflow-y: auto; /* Umożliwia przewijanie tylko tej sekcji */
}

.rightMenu {
  width: 30%;
  height: 100vh; /* Ustawiamy wysokość na 100vh, aby miała wysokość okna */
  min-width: 250px;
  padding: 20px;
  position: sticky;
  top: 0;
}
