.user-profile {
  background-color: black;
  color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 16px;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.user-name {
  font-size: 18px;
  font-weight: bold;
}

.user-username {
  font-size: 14px;
  color: #ccc;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 32px;
  text-decoration: none;
  margin-right: 16px;
  transition: color 0.2s ease-in-out;
}

.logout-btn:hover {
  color: #2563eb;
}

.dropdown-menu-user {
  position: absolute;
  bottom: 60%;
  right: 0;
  background-color: #2d2d2d;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  width: 150px;
  z-index: 10;
}

.dropdown-item {
  background: none;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #333;
}

@media (max-width: 1024px) {
  .logout-btn {
    display: none;
  }
 .dropdown-menu-user {
    top: 100%;
    padding: 0px;
    height: fit-content;
    left: 0;
    right: 0;
    width: auto; 
  }

  .dropdown-item {
    padding: 0px;
    margin: 0px;
  }
}


@media (max-width: 700px) {
  .user-username, .user-name{
    display: none;
  }
}


/* @media (max-width: 640px) {
  .user-profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
  }

  .user-info {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .logout-btn {
    margin: 0;
    font-size: 24px;
  }

  .dropdown-menu-user {
    right: 50%;
    transform: translateX(50%);
    bottom: auto;
    top: 100%;
    margin-top: 8px;
  }
} */
