.title {
  font-size: 25px;
  color: white;
  padding-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  flex: left;
}

/* Wrapper dla powiadomień */
.notificationsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notification {
  background-color: #2c2f36;
  color: #d1d5db;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #444;
  transition: background-color 0.3s ease;
}

.notification:hover {
  background-color: #3a4048;
}
